/*
** Section bottom line
*/

.grid {
  @mixin flex-horizontal stretch, flex-start;
  @mixin grid --xs;
  @mixin grid --s, var(--gutter-s);
  @mixin grid --sm, var(--gutter-sm);
  @mixin grid --ml, var(--gutter-ml);
}

.grid__item {
  @mixin cell-responsive;
  @mixin cell-responsive --s, var(--gutter-s);
  @mixin cell-responsive --sm, var(--gutter-sm);
  @mixin cell-responsive --ml, var(--gutter-ml);
  width: 100%;
}

.grid--no-gutter {
  @mixin grid --xs, 0;

  & > .grid__item {
    @mixin cell-responsive --xs, 0;
  }
}

/*
** Two-up
*/

.grid--2 {
  & > .grid__item {
    @media (--ml) {
      width: percentage(1/2);
    }
  }
}

/*
** Three-up
*/

.grid--3 {
  & > .grid__item {
    @media (--ml) {
      width: percentage(1/3);
    }
  }
}

/*
** Four-up
*/

.grid--4 {
  & > .grid__item {
    width: percentage(1/2);

    @media (--ml) {
      width: percentage(1/4);
    }
  }
}

.grid--2-mobile {
  & > .grid__item {
    @media (--m-max) {
      width: percentage(1/2);
    }
  }
}

.grid--footer-main {
  & > .grid__item {
    @media (--ml) {
      &:first-child {
        width: percentage(936/1240);
      }

      &:last-child {
        width: percentage(304/1240);
      }
    }
  }
}

.grid--page {
  & > .grid__item {
    @media (--ml) {
      &:first-child {
        width: percentage(1/3);
      }

      &:last-child {
        width: percentage(2/3);
      }
    }
  }
}

.grid--account {
  & > .grid__item {
    @media (--ml) {
      &:first-child {
        width: 238px;
      }

      &:last-child {
        width: calc(100% - 238px);
        padding-left: 48px;
      }
    }
  }
}

.grid--newsletter-popup {
  & > .grid__item {
    width: 100%;

    @media (--ml) {
      width: 50%;
    }

    &:first-child {
      display: none;

      @media (--ml) {
        display: block;
      }
    }
  }
}

.grid--home-four-up {
  & .grid__item {
    padding: 6px;

    @media (--ml) {
      padding: 0 12px;
    }
  }
}

.grid--page-influencer {
  @mixin grid --xs, var(--gutter-custom);
  @mixin grid --ml, var(--gutter-ml);

  & .grid__item {
    @mixin cell-responsive --xs, var(--gutter-custom);
    @mixin cell-responsive --ml, var(--gutter-ml);
  }
}

.grid--cms-gallery {
  & .grid__item {
    @media (--sm) {
      width: 50%;
    }
  }
}

.grid--products {
  @mixin grid --xs, var(--gutter-custom);
  @mixin grid --ml, var(--gutter-ml);

  & .grid__item {
    @mixin cell 12px;
    @mixin cell-responsive --ml, 24px;
  }
}
