.input,
.select,
.textarea {
  width: 100%;
  appearance: none;
  outline: none;
}

.input {
  padding: 0 16px;
  border-radius: 0;
  border: 1px solid var(--c-border);

  &::-ms-clear,
  &::-ms-reveal {
    display: none;
  }
}

.input:focus,
.input.has-value {
  padding-top: 12px;
  border-color: var(--c-pink);
  border-width: 2px;
  box-shadow: none;
}

.input.has-value:not(:focus) {
  border: 1px solid var(--c-border);
}

.input--error,
.textarea--error {
  color: var(--c-error);
  border-color: var(--c-error);
  border-width: 2px;

  &:focus,
  &.has-value:not(:focus) {
    border-color: var(--c-error);
    border-width: 2px;
  }
}

/* Label  */
.label {
  @mixin transition all;
  display: block;
  margin-bottom: 3px;
}

.label--checkbox,
.label--radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  margin-bottom: 0;
  cursor: pointer;
  user-select: none;

  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 0);
    width: 18px;
    height: 18px;
    border: 1px solid var(--c-border);
    background: var(--c-white);
  }

  &:after {
    content: '';
    position: absolute;
    top: calc(50% - 5px);
    left: 5px;
    transform: rotate(315deg);
    display: none;
    width: 8px;
    height: 4px;
    border-bottom: 2px solid var(--c-border);
    border-left: 2px solid var(--c-border);
  }
}

.label--radio {
  &:before {
    border-radius: 50%;
  }

  &:after {
    top: 7px;
    left: 6px;
    width: 8px;
    height: 8px;
    background-color: var(--c-white);
    border-radius: 50%;
    transform: none;
    border: none;
  }
}

/* Textarea */
.textarea {
  padding: 14px 16px;
  border: 1px solid var(--c-border);
}

.textarea:focus {
  border: 2px solid var(--c-pink);
  box-shadow: none;
}

/* Radio and Checkbox */
/* Radio and Checkbox */
.checkbox,
input[type="checkbox"],
.form__switch,
.form__radio {
  display: none;

  &:checked + * {
    &:before {
      border-color: var(--c-pink);
      background: var(--c-pink);
    }

    &:after {
      display: block;
    }
  }
}

.radio {
  &:checked + * {
    &:after {
      background-color: var(--c-pink);
    }
  }
}
