@define-mixin transition $properties: all, $duration: var(--transition-duration), $timing: var(--transition-timing) {
  transition-property: $properties;
  transition-duration: $duration;
  transition-timing-function: $timing;
}

@define-mixin flex-horizontal $align-items: center, $justify-content: center, $wrap: wrap {
  display: flex;
  flex-direction: row;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}

@define-mixin flex-vertical $align-items: center, $justify-content: center, $wrap: wrap {
  display: flex;
  flex-direction: column;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-wrap: $wrap;
}

@define-mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@define-mixin reset-button {
  @mixin reset-spacing;
  border: none;
  appearance: none;
  background: transparent;
}

@define-mixin reset-list {
  @mixin reset-spacing;
  list-style-type: none;
}

@define-mixin fit-x {
  position: absolute;
  left: 0;
  right: 0;
}

@define-mixin fit-y {
  position: absolute;
  top: 0;
  bottom: 0;
}

@define-mixin fit {
  @mixin fit-x;
  @mixin fit-y;
}

@define-mixin fit-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@define-mixin center-block {
  margin-left: auto;
  margin-right: auto;
}

@define-mixin edge-padding $padding: var(--container-edge) {
  padding-left: $padding;
  padding-right: $padding;
}

@define-mixin fade-in {
  visibility: visible;
  opacity: 1;
}

@define-mixin fade-out {
  @mixin transition all;
  visibility: hidden;
  opacity: 0;
}

@define-mixin fade-down $state-class {
  @mixin transition $(opacity, transform);

  opacity: 0;
  transform: translate3d(0, -100%, 0);

  @nest $state-class & {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@define-mixin aspect $width: 16, $height: 9, $position: before {
  &:$position {
    content: '';
    display: block;
    padding-top: calc($height / $width * 100%);
  }
}

@define-mixin grid-gutter $gutter: var(--grid-gutter-default) {
  margin-left: calc(-1 * $gutter / 2);
  margin-right: calc(-1 * $gutter / 2);
}

@define-mixin grid $media, $gutter: var(--grid-gutter-default) {
  @media ($media) {
    @mixin grid-gutter $gutter;
  }
}

@define-mixin cell $gutter: var(--grid-gutter-default) {
  padding-left: calc($gutter / 2);
  padding-right: calc($gutter / 2);
}

@define-mixin cell-responsive $media: --xs, $gutter: var(--grid-gutter-default) {
  @media ($media) {
    @mixin cell $gutter;
  }
}

@define-mixin inherit {
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
}
