.form__header {
  margin-bottom: 18px;
}

.form__footer {
  @mixin flex-horizontal;
  margin-top: 24px;
}

.form__footer--address {
  @mixin flex-horizontal center, flex-start;
}

.form__footer--two-columns {
  @mixin flex-horizontal;

  & > * {
    @media (--s) {
      width: auto;
    }
  }
}

.form-submit {
  cursor: pointer;
}

.form-address {
  display: none;
  margin-top: 20px;

  @media (--m) {
    margin-top: 0px;
  }
  &.form-address--activate,
  &.form-address--new {
    display: block;
  }
}

.form--small-spacing {
  & .form__row {
    margin-bottom: 0;
  }

  & .form__block {
    margin-bottom: 16px;
  }
}

.form--edit-address {
  margin-top: 20px;
}

.form__get-in-touch {
  & .form__block {
    width: calc(50% - 8px);
    margin: 0 0 17px;
  }

  & .form__block--fullwidth {
    width: 100%;
  }
}

.form__row--wholesale {
  @mixin grid --sm, 24px;

  @media (--sm) {
    @mixin flex-horizontal center, space-between;
  }
  & .form__block {
    @media (--sm) {
      @mixin cell 24px;
      flex: initial;
      margin: 0 0 12px;
    }
  }
  & .form__block-inner--select {
    @media (--sm) {
      width: calc(50% - 12px);
    }
  }
}

.form__row--wholesale-textarea {
  & .form__message {
    margin-top: 2px;
  }
}

.form--login {
  @media (--ml) {
    padding-top: 3px;
  }

  & .form__block {
    margin-bottom: 21px;

    & + .form__block {
      margin-bottom: 18px;
    }
  }

  & .form__label-wrapper {
    padding-top: 0;

    & a {
      margin-top: 19px;
    }
  }

  & .form__footer {
    margin-top: 30px;
  }

  & .label {
    & + input {
      margin-top: 5px;
    }
  }
}

.form--register {
  padding-top: 21px;

  & .form__row {
    margin-bottom: 0;
  }

  & .form__block {
    margin-bottom: 17px;
  }

  & .form__footer {
    padding-top: 0;
    border: none;
  }

  & .label + .input {
    margin-top: 5px;
  }
}

.form--reset-password,
.form--recover-password {
  & .form__footer {
    margin: 18px 0 5px;
    padding-top: 0;
    border: none;

    @media (--ml) {
      margin-bottom: 0;
    }
  }

  & .form-footer__button-cancel {
    margin-top: 20px;
    text-align: center;
  }
}

.form--active-account {
  & .form__footer {
    margin: 18px 0 5px;
    padding-top: 0;
    border: none;

    @media (--ml) {
      margin-bottom: 0;
    }
  }

  & .button:last-child {
    margin-top: 20px;
  }
}

.form-address {
  margin-bottom: 30px;
}

.form-address__header {
  margin-bottom: 16px;
}
