:root {
  --w-template-password: 500px;
}

.template-password__main {
  width: 100%;
  margin-bottom: 20px;

  & > p,
  & > a,
  & > div {
    display: none;
  }

  & h2 {
    margin-bottom: 30px;
    color: var(--c-text);
  }
}

.template-password {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: var(--w-template-password);
  height: 100%;
  margin: 100px auto 0;

  & label {
    margin-bottom: 10px;
    text-align: left;
  }

  & h4 {
    @type 16px 22px;
    margin-bottom: 10px;
    color: var(--c-text);
  }
}

.template-password__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 50px;
  text-align: center;
  background: var(--c-white);

  & .contact-form,
  & .storefront-password-form {
    display: flex;
    flex-direction: column;
  }

  & .template-password__login {
    width: 100%;
    padding-top: 30px;
    border-top: 1px solid var(--c-border);
  }

  & button {
    background: var(--c-black);
    color: var(--c-text-dark-bg);
    margin: 15px 0;
    padding: 11px 37px;
  }

  & .errors {
    color: var(--c-error);
  }

  & .template-password__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
  }
  & .template-password__logo-mobile {
    width: 100%;
    height: auto;
    display: flex;
    @media screen and (min-width: 767px) {
      display: none;
    }
  }
  & .template-password__logo-desktop {
    width: 100%;
    height: auto;
    display: flex;
    @media screen and (max-width: 767px) {
      display: none;
    }
  }
}
